<form role="form" class="form-signin" action="" method="post">
    <div class="col-md-4" class="form-group">
        <input id="email" type="text" name="" class="form-control input-lg" value="" placeholder="Correo electrónico" required>
            </div>
    <div class="col-md-4" class="form-group">
        <input id="contrasena" type="text" name="" class="form-control input-lg" value="" placeholder="Contraseña" required>
            </div>
    <div class="col-md-4" class="form-group">
        <select id="departamento" class="" name="" class="form-control input-lg" required>
            <option disabled selected value="">Departamento</option>
        </select>
    </div>
    <div class="form-group">
        <button (click)="iniciarSesion()" class="btn btn-default" type="submit" name="">LISTO</button>
    </div>
</form>
